# **While loops**

In [ ]:
i= 1
while (i<5):
  print(f"{i} is less than 5")
  i+=1

1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

In [ ]:
i= 1
while (i<5):
  print("{} is less than 5".format(i))
  #print(str.format(i))

  i+=1

1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

In [7]:
#break
i=1
while(i<10):
  print(i)
  if(i==5):
    break
  i+=1

1
2
3
4
5

In [11]:
str1 = "baker street"
n= len(str1)
i=0
while(i<n):
  print(str1[i])
  i+=1

b
a
k
e
r

s
t
r
e
e
t

In [22]:
str1 = "baker street"
n= len(str1)
i=0
while(i<n):
  print(str1[i])
  if(str1[i]==" "):
    break
  i+=1

b
a
k
e
r

# Continue
stop the current iteration and continue with the next one

In [44]:
i=-1
while(i<11):
  #print(str1[i])
  i+=1
  if(str1[i]=='e'):
    continue
  print(str1[i])
  #i+=1

b
a
k
r

s
t
r
t

In [45]:
 i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# For loop

In [46]:
str3 = 'mycroft holmes'
for i in str3:
  print(i)

m
y
c
r
o
f
t

h
o
l
m
e
s

In [48]:
#break statement
for i in str3:
  print(i)
  if(i=='o'):
    break

m
y
c
r
o

In [51]:
#continue
for i in str3:
  if(i=='o'):
    continue
  print(i)

m
y
c
r
f
t

h
l
m
e
s

In [53]:
#range function
#The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.
for i in range(len(str3)):
  print(str3[i])

m
y
c
r
o
f
t

h
o
l
m
e
s

In [64]:
#incrementing steps
for i in range(0,len(str3),2):
  print(str3[i])

m
c
o
t
h
l
e

In [65]:
#else
for i in range(0,len(str3),2):
  print(str3[i])
else:
  print("end of the string")

m
c
o
t
h
l
e
end of the string

In [71]:
#Nested
str5 = "mary watson"
str6 = "mrs hudson"
for i in range(0, 4):
  for j in range(0, 4):
    print(str5[i]+str6[j])

mm
mr
ms
m
am
ar
as
a
rm
rr
rs
r
ym
yr
ys
y